
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Playfair Display', serif;
    background-color: #f9f7f4;
    color: #333;
}


nav {
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* espacio entre elementos */
}
nav a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #b89b72;
}

/* BOTÓN DESTACADO PARA PRODUCTOS */
nav a.productos-btn {
    background-color: #b89b72;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}

nav a.productos-btn:hover {
    background-color: #a1865f;
}

/*HEADER*/

header {
    text-align: center;
    padding: 80px 20px;
    background-color: #b89b72;
    color: white;
}

header h1 {
    font-size: 2.5em;
}

header p {
    margin-top: 10px;
}

/*4. BENEFICIOS*/
.beneficios {
    text-align: center;
    padding: 50px 20px;
}

.tarjetas {
    margin-top: 20px;
}

.tarjeta {
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* 5. HERO*/
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

/* 6. BOTÓN*/
a[href="productos.html"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b89b72;
    color: white;
    border-radius: 20px;
}

a[href="productos.html"]:hover {
    background-color: #a1865f;
}

/*7. FOOTER*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

/* 8. SOBRE NOSOTROS*/

.contenido {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.contenido h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #b89b72;
}

.contenido p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* LISTA DE VALORES */
.contenido ul {
    list-style: none;
    margin-top: 15px;
}

.contenido li {
    margin: 10px 0;
    font-size: 1.1em;
}

/* IMAGEN LOGO */
.contenido img {
    margin-top: 30px;
    width: 200px;
}

/* GALERÍA DE PRODUCTOS */
.galeria-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px 20px;
    max-width: 1300px;
    margin: auto;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto h3 {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}

.precio {
    margin-top: 5px;
    font-weight: bold;
    color: #b89b72;
    font-size: 1.2em;
}

.btn-comprar {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 18px;
    background-color: #b89b72;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn-comprar:hover {
    background-color: #a1865f;
}

/*tallas*/

.tallas {
    margin: 20px 0;
}

.tallas-opciones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.talla {
    padding: 10px 18px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease;
}

.talla:hover {
    border-color: #b89b72;
    color: #b89b72;
}

.talla.seleccionada {
    background-color: #b89b72;
    color: white;
    border-color: #b89b72;
}
